body {
    font-family: Arial, sans-serif;
    background-color: rgb(212, 176, 182);
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#muunnin {
    text-align: left;
    margin-bottom: 20px;
}

h1 {
    background-color: black;
    color: pink;
    padding: 10px;
    margin-bottom: 20px;
}

#muunnos-valinta, #syotto, #desimaalitValinta {
    margin-bottom: 20px;
}

p {
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
}

select, label {
    margin-top: 10px;
}

button {
    padding: 5px 10px;
    background-color: rgb(0, 0, 0);
    color: pink;
    border: none;
    cursor: pointer;
}

#desimaalitValinta label {
    display: block;
    margin-bottom: 5px;
}

#tulos {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tulos-container {
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}